h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  border-bottom: 3px solid;
  border-image: url(Img/underline.jpg) 10%;
  color: #1a1a1a;
  padding-bottom: 10px;
}

h2 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  color: #1a1a1a;
  padding-bottom: 10px;
}

header {
  text-align: justify;
}

p,
ul li {
  font-size: 24px;
}

.apafia {
  text-align: center;
  color: #b8b8b8;
  font-size: 140px;
  font-style: normal;
  font-family: Stalemate, serif;
  font-style: italic;
  padding-top: 120px;
  padding-bottom: 300px;
  background-image: url("Img/apafia.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

#pricebutton1,
#pricebutton2 {
  background-color: #e5e5e5;
}

#pricebutton1:hover,
#pricebutton2:hover {
  background-color: #bfbfbf;
  color: white;
}

#carousel p {
  font-size: 18px;
  text-align: justify;
}

#contact {
  padding: 40px;
  margin-top: 50px;
  color: #b0b0b0;
}

footer p {
  padding: 40px;
  text-align: center;
  background-color: #363839;
  color: #b0b0b0;
  font-size: medium;
}

.devider {
  color: white;
}

.deviderbutton {
  color: white;
  border-color: white;
  margin-top: 15px;
  font-size: medium;
}

.deviderbutton:hover {
  background-color: #e1e1e112;
  border-color: white;
  color: white;
}